---
import Courses from '../layouts/courses.astro';
import {renderDuration} from '../js/utilities.js'
import CourseCard from '../components/CourseCard.astro';
let coursesData = Astro.fetchContent('../markdown/mfs/*.md').sort((c1, c2) => {return c1.id - c2.id;});
---
<Courses title="Kurse">
    <div class="bg-black flex flex-row flex-wrap justify-between">
        {coursesData.map((course) => <CourseCard id={course.id} title={course.title} duration={renderDuration(course.firstSession, course.lastSession)} img={course.img}/>)}
    </div>
</Courses>