---
import Courses from '../layouts/courses.astro';
import CoursesWrapper from '../components/CoursesWrapper.jsx'
let coursesData = Astro.fetchContent('../markdown/mfs/*.md').sort((c1, c2) => {return c1.id - c2.id;});
--- 

<Courses>
<div>hello world</div>
    <CoursesWrapper courses={coursesData} client:load/>
</Courses>