---
import BaseLayout from '../layouts/BaseLayout.astro'
import BaseHeader from '../components/BaseHeader.astro'
import MenuSection from '../components/MenuSection.astro'
---
<BaseLayout title="MakeFest">
    <div class="flex flex-col h-screen max-w-screen-xl mx-auto p-0 space-y-0">
        <BaseHeader/>
        <MenuSection/>
    </div>
</BaseLayout>