---
import BaseLayout from '../layouts/BaseLayout.astro'
import BaseHeader from '../components/BaseHeader.astro'
import BackButton from '../components/BackButton.astro'
import HomeButton from '../components/HomeButton.astro'
---
<BaseLayout title="MakeFest">
    <div class="max-w-screen-xl mx-auto p-0 space-y-0">
        <BaseHeader>
            <HomeButton/>
        </BaseHeader>

        <div class="flex justify-center mx-auto rounded-2xl bg-gray-900">
            <div class="">
                <!-- body -->
                <div class="prose sm:prose-lg lg:prose-lg xl:prose-xl mx-4 dark:prose-light m-4 mt-5 md:mt-16 lg:mt-32">
                    <h1>Über MakeFest</h1>
                    <p>Bei den MakeFest Kursen geht es im Kern weder um Computerspiele noch ums Programmieren. Stattdessen geht es
                    darum, bestimmte Fähigkeiten auszubauen, die für eine selbstständige, erfolgreiche und befriedigende
                    Bearbeitung von realen Problemen nötig sind. Fähigkeiten, die in Schule und Studium leider häufig zu kurz
                    kommen.</p>
                    <p>Um diese Fähigkeiten zu entwickeln, haben die MakeFest Kurse jeweils ein konkretes Ziel, dass die
                    Teilnehmer als Team über eine Reihe von konstruktiven Schritten erreichen sollen. Die Schritte zur
                    Erreichung des Ziels auszuwählen und umzusetzen ist eines der wesentlichen Lernziele für die Teilnehmer.
                    Dazu gehört insbesondere auch, die Lücken im eigenen Wissen und Können zu erkennen und selbstständig zu
                    schließen. </p>
                    <p>Die Rolle des Kursleiters ist dabei nicht die eines bloßen Lieferanten von Informationen oder Vorturners.
                    Stattdessen begleitet der Kursleiter die Teilnehmer als Coach und bietet ihnen je nach Kursniveau und
                    individuellem Verständnis gerade so viel Unterstützung, dass sie die jeweilige Herausforderung möglichst
                    selbstständig meistern können. Dazu gehört, eigene Lösungsideen zu entwickeln, bei Bedarf zu explorieren und
                    zu bewerten, und so einen produktiven Lösungsweg zu finden.</p>
                    <p>So wird der Kurs idealer Weise zu einer raschen Abfolge von kleinen Handlungsschritten, für die die
                    Teilnehmer motiviert sind, weil sie sie selbstständig erarbeitet und deren Beitrag zur Erreichung des Ziels
                    verstanden haben. Daher der Name MakeFest!</p>
                    <p>Um diese grundlegenden Kompetenzen zu erlernen, braucht man sich weder mit Computerspielen noch mit
                    Programmieren beschäftigen. Man kann sie bei allen möglichen Aktivitäten erlernen. Und für die Zukunft sind
                    z.B. auch Kurse geplant, bei denen physikalische Objekte erstellt werden. </p>
                    <p>Aber Computerspiele und Programmieren bieten in der Tat eine hervorragende Gelegenheit, um diese
                    Kompetenzen zu erlernen! Und zwar hauptsächlich aus diesen drei Gründen:</p>
                    <ul>
                    <li>weil jeder kleine Schritt Programmierung sich unmittelbar ausprobieren und als Reaktion des Computers beobachten lässt</li>
                    <li>weil jede Erweiterung des Computerspiels zusätzlich Spaß und Motivation für die Teilnehmer liefern kann, und zwar jenseits der Programmierung auch durch die sonstige Gestaltung des Spiels</li>
                    <li>weil die Kurse so zusätzlich Gelegenheit bieten, grundlegende und weiterführende Fähigkeiten im Umgang mit Computern zu lernen und zu trainieren, die bereits jetzt für viele Lebensbereiche wichtig und zukünftig noch wertvoller sein werden</li>
                    </ul>
                    <p>Der oben beschriebene Ansatz wurde mittlerweile in sechs Kursen mit Teilnehmern im Alter von 10 bis 12
                    Jahren erfolgreich angewendet.</p>                
                </div>
            </div>
        </div>
    </div>
</BaseLayout>