---
import { Markdown } from 'astro/components';
const content = '# Hello World';
---

<html>
  <head>
    <title>Hello Astro!</title>
  </head>
  <body>
    <Markdown content={content}/>
  </body>
</html>