---
import BaseButton from '../components/BaseButton.astro';
---
<div class="flex flex-col flex-grow w-full rounded-2xl bg-gray-900 justify-evenly items-center">
    <div class="max-w-sm lg:max-w-lg text-center text-gray-300">
        <div class="mt-10 text-4xl md:text-5xl lg:text-6xl">Wir entwickeln zusammen Computerspiele... </div>
        <div class="pt-10  text-6xl md:text-7xl lg:text-8xl font-bold">Mach mit!</div>
    </div>
    <div class="flex w-full flex-col items-center">
        <BaseButton href = "courses" label="Kurse" buttonIntensity="high"></BaseButton>
        <BaseButton href ="info" label="Über MakeFest"></BaseButton>
    </div>
</div>