---
import BaseLayout from '../layouts/BaseLayout.astro'
import BaseHeader from '../components/BaseHeader.astro'
import BackButton from '../components/BackButton.astro'
import HomeButton from '../components/HomeButton.astro'
---
<BaseLayout title="MakeFest">
    <div class="max-w-screen-xl mx-auto p-0 space-y-0">
        <BaseHeader>
            <HomeButton client:load/>
        </BaseHeader>

        <slot/>
    </div>
</BaseLayout>