---
import BaseLayout from '../layouts/BaseLayout.astro'
import BaseHeader from '../components/BaseHeader.astro'
import BackButton from '../components/BackButton.astro'
import HomeButton from '../components/HomeButton.astro'
const { content } = Astro.props;
---
<BaseLayout title="MakeFest">
    <div class="max-w-screen-xl mx-auto p-0 space-y-0">
        <BaseHeader>
            <HomeButton/>
        </BaseHeader>
        <div class="flex justify-center mx-auto rounded-2xl bg-gray-900">
            <div class="">
                <!-- body -->
                <div class="prose sm:prose-lg lg:prose-lg xl:prose-xl mx-4 dark:prose-light m-4 mt-5 md:mt-16 lg:mt-32">
                    <slot/>           
                </div>
            </div>
        </div>
    </div>
</BaseLayout>